header {
    padding: 16px 0;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(174, 174, 174, 0.10);
}

.header_container .header_logo img {
    height: 30px;
}

.header_container .main_menu {
    gap: 30px;
    display: flex;
    align-items: center;
}
