ul.menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
    display: flex;
    align-items: center;
}

ul.menu_list li a {
    color: #565656;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
}